.nav-head{
    z-index: 2;
    height: 60px;
    

        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border:1px solid rgba(255, 255, 255, 0.18);
        /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */


}

/* .off{
        color: black;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

} */
.linkmain{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 17px;
}
/* .linkmain:hover{
        color: red;
} */
.header-title{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 30px;
}
.header-title:hover{
        color: black;
}


